body {
  background: #c0c5ce;
}
h1 {
  color: #4f5b66;
  display: inline-block;
  font-family: monospace;
  margin-top: 10px;
  margin-left: 20px;
  letter-spacing: -1px;
  text-shadow: 1px 1px 0px #a7adba;
}
#menuBar {
  background: #a7adba;
  border-bottom: solid #666;
}
li {
  display: inline;
  padding-left:20px;
  font-family: monospace;
  font-size:20px;

}
ul {
  margin-top:-40px;
  margin-left:900px;
}
a {
  color: #65737e;
}
a:hover {
  color:#666;
  text-decoration:none;
}
#logo {
  display:inline-block;
  padding-left: 330px;
}
h2 {
  display: inline-block;
  font-family: monospace;
  font-size: 40px;
  margin:10px;
  padding-top: 10px;
}
#color1 {
  color:#e69598;
}
#color2 {
  color: #cb2c31;
}
#color3 {
  color: #85bdde;
}
#color4 {
  color: #ccebfb;
}
#wrapper-top {
  width: 1435px;
  height: 1000px;
  border: solid #e5e6eb;
  border-width: 0px 50px 0px 50px;
}
#vertical {
  width: 1335px;
  height: 1000px;
  border-left: solid #666;
  border-right: solid #666;
}
 #wrapper-top img {
  height:350px;
  float: left;
  margin-right: 30px;
  margin-left: 80px;
  margin-top: 60px;
  border: solid white;
}
#wrapper-top p {
  font-family: monospace;
  font-size: 30px;
  padding-top: 70px;
  padding-bottom: 0px;
  padding-right: 100px;
}
#middle {
   margin-top: 60px;
}
#middle a {
  font-family: monospace;
  font-size:25px;
}
hr {
  border: solid #666;
  width: 800px;
  margin: 0px;
}
